*{
	box-sizing: border-box;
}
.header{
	width: 100%;
	background-color: yellow;
	height: auto;
}
.menu{
	width: 50%;
	float: left;
	text-align: right;
}
.span{
	color: blue;
}
.get{
	width: 50%;
	float: left;
	text-align: center;
	/*border: 1px solid black;
	border-radius: 1em;*/
}
.main{
	width: 100%;
}