*{
    box-sizing: border-box;
}
.footer{
    width: 100%;
    font-size: 40px;
    text-align: center;
    background-color: green;   
}
.header{
    height: 85px;
    /* background-color: burlywood; */
    /* position: fixed; */
}
.logo{
    width: 20%;
    float: left;
}
.menu{
    float: right;
    font-size: 20px;
    padding-top: 20px;
}
.menu a{
    text-decoration: none;
    background-color: blue;
    border-radius: 2em;
    margin-right: 10px;
    color: white;
    padding: 10px;
}
.sidebar{
    width: 25%;
    font-size: 40px;
    background: yellow;
    float: left;
    text-align: center;
    /* height: auto; */
}
.subsidebar{

    border: 3px solid blue;
    font-size: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /* height: auto; */
}
.Contant{
    width: 75%;
    float: left;
    padding-left: 80px;
}
.row{
    float: left;
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    border: 5px solid black;
    border-radius: 2em;
    /* margin-bottom: 10px; */
    margin-bottom: 10px;
    background-color: yellow;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 2em;

}
.faculty{
    float: left;
    border: 3px solid blue;
    margin: 15px 0px;
   
    margin-left: 25px;
    width: 45%;
    padding: 7px 7px;
    border-radius: 2em;
}
.student{
    float: left;
    /* border: 3px solid blue; */
    height: auto;
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}
