*{
    box-sizing: border-box;
}
.footer{
    width: 100%;
    font-size: 40px;
    text-align: center;
    background-color: green;   
}
.logo{
    width: 20%;
    float: left;
}
.menu{
    float: right;
    font-size: 20px;
    padding-top: 20px;
}
.menu a{
    text-decoration: none;
    background-color: blue;
    border-radius: 2em;
    margin-right: 10px;
    color: red;
    padding: 10px;
}
.sidebar{
    width: 25%;
    font-size: 40px;
    background: rgb(5, 79, 139);
    color: rgb(162, 210, 30);
    float: left;
    text-align: center;
}
.subsidebar{
    color: azure;
    border: 3px solid rgb(97, 40, 151);
    font-size: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contant{
    width: 75%;
    float: left;
    padding-left: 20px;
}